/* Estilo base para el cuadro de información */
.leaflet-control.info {
  font-size: 1.8em; /* ≈28.8px si html=16px */
  line-height: 1.4;
  
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  /* Asegura que la fuente sea coherente con el resto del sistema */
  font-family: 'Poppins', system-ui, sans-serif;
  font-weight: 400;
  color: #333;
}

/* Estilo específico para el título H4 dentro del cuadro */
.leaflet-control.info h4 {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 1.1em;
  color: #555;
}

/* Estilos para los cuadritos de color (<i>) DENTRO de la leyenda */
.leaflet-control.info.legend i {
  width: 16px;
  height: 28px;
  display: inline-block;
}
